<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_Project.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/XE;TNS_ADMIN=&quot;C:\Users\Rohit Jagwani\Oracle\network\admin&quot;;PASSWORD=rohit;USER ID=SYSTEM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>